body{
	background: #B0C4DE;
	font-family: 'Impact';

}

h1{
	font-size: 30px;
	color: 	#191970 ;
}

a{
	color: 	#191970 ;
	text-decoration: none;
}

#left
{
    float: left;
    margin-left: 30px;

}

#right
{
    float: right;
    margin-left: 10px;
}


#middle
{
	float: middle ;


}

input{
	width: 200px;
	height: 20px;

}

button {
     width: 200px;
     height: 25px;
          }


